html {
    --fontSizeH: 48px;
    font-family: 'Arimo', sans-serif;
    color: #edf0f4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    display: inline-block;
}


nav {
    position: fixed;
    width: 100%;
    text-align: right;
    position: relative;
    z-index: 3;
}

nav ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
    position: absolute;
    right: 0;
}

nav ul li a {
    position: relative;
    padding: 30px 5px;
    font-family: 'Arimo', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #edf0f4;
    transition: all .3s;
}

nav ul li a:hover {
    color: #37dfe5;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 20px;
    width: 0;
    display: block;
    height: 2px;
    background: #37dfe5;
    transition: width .3s;
}

nav ul li a:hover::after {
    width: 85%;
}

header {
    position: relative;
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    border-bottom: 5px solid #37dfe5;
}

header p {
    position: absolute;
    top: 30%;
    width: 50%;
    font-weight: 700;
    transition: all 1s;
}

header .about h1 ul {
    display: inline-block;
    animation: changeLi 6s linear 1s infinite;
}

header .about h1 ul li span {
    opacity: 0;
}

header .about {
    overflow: hidden;
    position: relative;
    padding-right: 80px;
    font-family: 'Nunito', sans-serif;
    transition: all 1s;
}

header .disapear {
    transform: scale(0);
}

header .about h1 {
    font-size: var(--fontSizeH);
    transform: translateY(-100%);
}

@keyframes changeLi {
    0% {
        transform: translateY(0%);
    }

    12.5% {
        transform: translateY(50%);
    }

    25% {
        transform: translateY(50%);
    }

    37.5% {
        transform: translateY(50%);
    }

    50% {
        transform: translateY(50%);
    }

    62.5% {
        transform: translateY(0%);
    }

    75% {
        transform: translateY(0%);
    }

    87.5% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(0%);
    }
}

header .about .fas {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 48px;
    color: #37dfe5;
    transition: all 1s;
}

header .about .fa-user-graduate {
    right: 10px;
    opacity: 0;
    animation: flashIconSmile 6s linear infinite;
}

header .about .fa-code {
    animation: flashIconCode 6s linear infinite;
}

@keyframes flashIconCode {
    0% {
        opacity: 1;
    }

    12.5% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    37.5% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    62.5% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    87.5% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flashIconSmile {
    0% {
        opacity: 0;
    }

    12.5% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    37.5% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    62.5% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

header a.projects {
    position: absolute;
    bottom: 25%;
}

header a.projects,
#projects a.contact {
    text-decoration: #37dfe5;
    margin-top: 5vh;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #37dfe5;
    border-radius: 10px;
    color: #edf0f4;
    overflow: hidden;
    transition: all 0.5s;
}

header a.projects:hover,
header a.projects:active {
    background: #37dfe5;
    color: #161616;
}

a span {
    display: inline-block;
    position: relative;
    padding-right: 0;
    transition: padding-right 0.5s;
}

a span:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: -15px;
    opacity: 1;
    width: 10px;
    height: 10px;
    margin-top: -10px;
    background: rgba(0, 0, 0, 0);
    border: 3px solid #161616;
    border-top: none;
    border-right: none;
    transition: opacity 0.5s, top 0.5s, right 0.5s;
    transform: rotate(-45deg);
}

header a.projects:hover span,
header a.projects:active span,
#projects a.contact:hover span,
#projects a.contact:active span {
    padding-right: 30px;
}

header a.projects:hover span:after,
header a.projects:active span:after,
#projects a.contact:hover span::after,
#projects a.contact:active span::after {
    transition: opacity 0.5s, top 0.5s, right 0.5s;
    opacity: 1;
    right: 0;
    top: 50%;
}

#projects {
    position: relative;
}

#projects .container-skills {
    display: flex;
    flex-flow: wrap;
    border-bottom: 3px solid #37dfe5;
}

#projects .container-skills div {
    height: 18vh;
    width: 20%;
    filter: grayscale(100%);
    transition: all .4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects .container-skills div img {
    height: 100%;
}

#projects .container-skills div i {
    font-size: 13.5vh;
}

#projects .container-skills .html {
    background-color: #DD512A;
}

#projects .container-skills .css {
    background-color: #0C73B8
}

#projects .container-skills .js {
    background-color: #E7A020;
}

#projects .container-skills .sass {
    background-color: #CD679A;
}

#projects .container-skills .bootstrap {
    background-color: #5C4484;
}

#projects .container-skills .rwd {
    background-color: #2AF1D7;
}

#projects .container-skills .gulp {
    background-color: #EB4A4B;
}

#projects .container-skills .jquery {
    background-color: #0868AB;
}

#projects .container-skills .sql {
    background-color: #FFB200;
}

#projects .container-skills .seo {
    background-color: #00F39A
}


#projects .container-skills .no-filter {
    filter: grayscale(0%);
}

#projects .container-skills div:hover {
    filter: grayscale(0%);
}

#projects .container-skills div img {
    height: 75%;
}

#projects .container-projects {
    display: flex;
    flex-flow: wrap;
    border-top: 8vh solid #161616;
}

#projects .container-projects div {
    height: 28vh;
    width: calc(100% / 3);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: rgba(22, 22, 22, 0.8);
}


#projects .container-projects .bootstrap-project {
    background-image: url('img/bootstrap-project.png');
}

#projects .container-projects .bootstrap-project:hover~.html {
    filter: grayscale(0);
}

#projects .container-projects .sass-project {
    background-image: url('img/sccs-project.png')
}

#projects .container-projects .sql-project {
    background-image: url('img/sql-project.png')
}

#projects .container-projects .artwood-project {
    background-image: url('img/cyklinowanie-project.png')
}

#projects .container-projects .portfolio-project {
    background-image: url('img/portfolio-project.png')
}

#projects .container-projects .procural-project {
    background-image: url('img/procural-project.png')
}

#projects .container-projects .mask {
    width: 100%;
    background-color: rgba(22, 22, 22, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    opacity: 0;
    transition: all 0.4s;
}

#projects .container-projects .mask:hover {
    opacity: 1;
}

#projects .container-projects .mask a {
    color: #edf0f4;
}

#projects .container-projects .mask div {
    height: auto;
    background-color: transparent;
    width: 100%;
    text-align: center;
}

#projects .container-projects .mask div p {
    margin-top: 20px;
}

#projects .container-projects .mask a i {
    font-size: 50px;
    padding: 0px 10px;
    transition: all 0.4s;
}

#projects .container-projects .mask a i:hover {
    color: #37dfe5;
    cursor: pointer;
}

#projects a.contact {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #37dfe5;
    color: #161616;
}

#projects a.contact:hover {
    background: #161616;
    color: #edf0f4;
}

#projects a.contact span::after {
    border-color: #37dfe5;
}

#contact {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    background-color: #161616;
    border-top: 3px solid #37dfe5;
}

#contact div {
    width: 40%;
}

#contact .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#contact .contact-container h2 {
    padding-left: 20px;
    border-left: 8px solid #37dfe5;
}

#contact .contact-container .icon-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#contact .contact-container .icon-container i {
    font-size: 50px;
    transition: all 0.4s;
}

#contact .contact-container .icon-container i:hover {
    color: #37dfe5;
    cursor: pointer;
}

#contact .form form {
    display: flex;
    flex-direction: column;
}

form input,
form textarea {
    margin-top: 20px;
    padding: 10px 10px;
    color: #161616;
}

#contact .form form input:focus,
#contact .form form textarea:focus {
    border: 2px solid #37dfe5;
}

#contact .form form button {
    margin: 20px 0px;
    width: 20%;
    padding: 10px 0px;
    background: #161616;
    color: #37dfe5;
    border: 1px solid #37dfe5;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.4s;
    font-weight: 700;
    letter-spacing: 1px;
}

#contact .form form button:hover {
    cursor: pointer;
    background: #37dfe5;
    color: #161616;
}

footer {
    background-color: #161616;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
}

footer a {
    color: #edf0f4;
    transition: all 0.4s;
}

footer a:hover {
    color: #37dfe5;
}

footer a .fas {
    font-size: 24px;
    padding-right: 10px;
    transition: transform 0.8s;
}

footer a:hover .fas {
    transform: translateY(-50%);
}